{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-warning">Back To Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div>
                <a href="{% url 'profile' donation.author.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30"
                        src="{{ donation.author.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' donation.author.profile.pk %}">@{{ donation.author }}</a> {{ donation.created_on }}
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-image h-100" />
                    {% endif %}
                </p>
            </div>
            {% if request.user == post.author %}
            <a href="{% url 'post-edit' post.pk %}" class="edit-color"><i class="fa fa-edit"></i></a>
            <a href="{% url 'post-delete' post.pk %}" class="edit-color"><i class="fa fa-trash"></i></a>
            {% endif %}
            {% if post.image.count > 0 %}
            <div class="row">
                {% for img in post.image.all %}
                <div class="col-md-4 col-xs-12">
                    <img src="{{ img.image.url }}" class="post-image" />
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="body">
                <p>{{ donation.body }}</p>
                <!-- <p>{{ donation.longitude }}</p>
                <p>{{ donation.latitude }}</p> -->
                <p>{{ donation.location }}</p>

            </div>




            <div id='map' style='width: auto; height: 300px;'></div>
            <script>
                
                const long = '{{ donation.longitude }}'
                const lat = '{{ donation.latitude }}'
                // TO MAKE THE MAP APPEAR YOU MUST
                // ADD YOUR ACCESS TOKEN FROM
                // https://account.mapbox.com
                mapboxgl.accessToken = 'pk.eyJ1Ijoia2Fsa2lkYW4wOSIsImEiOiJjbDNpYno1NXgwb2R2M2NueG1zb2RhaGU4In0.gkhnMaooBBuE9qMmIxuRwQ';
                const map = new mapboxgl.Map({
                    container: 'map', // container ID
                    style: 'mapbox://styles/mapbox/streets-v11', // style URL
                    center: [long, lat], // starting position [lng, lat]
                    zoom: 9 // starting zoom
                });



                // Create a new marker.

                const marker = new mapboxgl.Marker()
                    .setLngLat([long, lat]).addTo(map);

            </script>


        </div>
    </div>



</div>

{% endblock content %}