{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-12">
                <a href="{% url 'profile' object.pk %}" class="btn btn-warning">Back To Profile</a>      
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-3 col-sm-12 border-bottom">
                <h1>Update your Profile!</h1>
            
            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-3 col-sm-12 border-bottom">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy}}
                
                <div class="d-grid gap-2">
                    <button class="btn btn-primary">Update</button>
                </div>
                </form>
            
            </div>
        </div>

            
    </div>
{% endblock content %}
    