.remove-default-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.post-text {
    padding-top: 0.5rem;
}

.post-img {
    float: left;
    margin-right: 1rem;
}

.post-link {
	text-decoration: none;
}